<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="server" type="NodeJSConfigurationType" factoryName="Node.js" path-to-node="$PROJECT_DIR$/../../../tools/nodejs/node" path-to-js-file="server/server.js" working-dir="$PROJECT_DIR$">
    <envs>
      <env name="DEBUG" value="VladBikovProj:*" />
    </envs>
    <browser url="http://localhost:4000/" />
    <profiling v8-profiler-path="" />
    <EXTENSION ID="com.jetbrains.nodejs.run.NodeJSProfilingRunConfigurationExtension">
      <profiling v8-profiler-path="" />
    </EXTENSION>
    <EXTENSION ID="com.jetbrains.nodejs.run.NodeJSStartBrowserRunConfigurationExtension">
      <browser url="http://localhost:4000/" />
    </EXTENSION>
    <method />
  </configuration>
</component>